.drawer {
  position: fixed;
  right: -100%;
  height: calc(100vh - 72px);
  width: 100%;
  background: #fff2;
  backdrop-filter: blur(2px);
  z-index: 4;
  cursor: pointer;
  transition: var(--trans);
  top: 72px;
  @media (max-width: 992px) {
    height: 100vh;
    top: 0;
    z-index: 10;
  }

  &.show {
    right: 0;
  }
  .overlay-cart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 280px;
    text-align: center;
    opacity: 0.3;
    pointer-events: none;
  }
  .content {
    background-color: var(--whiteColor);
    width: 300px;
    height: 100%;
    @media (max-width: 772px) {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--mainColor);
        border-radius: 25px;
      }
    }
    cursor: auto;
    transition: var(--trans);
    transition-delay: 0.1s;
    padding: 10px;
    .content-boxes {
      height: 71%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--mainColor);
        border-radius: 30px;
      }
    }
    .box {
      display: flex;
      align-items: center;
      gap: 10px;
      direction: ltr;
      padding: 15px 0px;
      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
      .text {
        flex: 1;
        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      h2 {
        font-weight: bold;
        font-size: 12px;
      }
      p {
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
        color: var(--textColor);
        margin: 10px 0px;
        text-transform: capitalize;
        height: 70px;
      }
      span {
        font-size: 13px;
        font-weight: bold;
        span {
          color: var(--mainColor);
        }
      }
      .qty {
        color: var(--whiteColor);
        background-color: var(--bgSecondary);
        padding: 3px 5px;
        border-radius: 4px;
        font-weight: bold;
      }
    }
    .total {
      position: absolute;
      bottom: 10px;
      width: 280px;
      .prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        h2 {
          font-weight: bold;
          display: flex;
          align-items: center;
          gap: 3px;
        }
        span {
          font-weight: bold;
          background-color: var(--mainColor);
          padding: 4px 7px;
          border-radius: 4px;
          color: var(--whiteColor);
        }
      }
    }
  }
}
