.links-user {
  position: absolute;
  top: 74px;
  left: 30px;
  @media(max-width:776px) {
    left: 10px;
  }
  box-shadow: 0 0 4px #ddd;
  background-color: var(--whiteColor);
  padding: 10px;
  border-radius: 6px;
  a {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blackColor);
    opacity: 0.5;
    gap: 10px;
    font-size: 15px;
    transition: var(--trans);
    &.danger-btn {
      text-align: center;
      color: var(--whiteColor);
      justify-content: center;
    }
    span {
      flex: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
}
